[user]
	name = Chao Liu
	email = chaoliu@seas.upenn.edu

[credential]
	helper = osxkeychain
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  	type = cat-file -t
  	dump = cat-file -p
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = /Users/chaoliu/.gitignore
	editor = vi

[push]
	default = matching
